
/* importing some fonts */
 @import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Caveat&family=Cinzel&family=Domine&family=Open+Sans:wght@300&family=Orbitron&family=Unbounded:wght@300&family=VT323&family=Zen+Tokyo+Zoo&display=swap');


* {    
    /* font-family: 'Carrois Gothic', sans-serif; */
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'Cinzel', serif; */
    /* font-family: 'Domine', serif; */
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Orbitron', sans-serif; */
    /* font-family: 'Unbounded', cursive; */
    /* font-family: 'VT323', monospace; */
    /* font-family: 'Zen Tokyo Zoo', cursive; */
    visibility: visible;
}


body{
    
    font-family: 'Open Sans', sans-serif;

    margin: 0;
    width:100%;

    background-color:white;
    background-image: url("images/background_images/wood_background_2.jpg") ;    
    background-repeat: repeat;



    display: flex; 
    justify-content: center;   
}

.container {

    width: 1000px;
    background-color:beige;
    background-image: url("images/background_images/paper_background.jpg");
    background-repeat: repeat;

    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;   
    align-items: center; 

    
    box-shadow: 0px 10px 0px 10px rgba(0, 0, 0, 0.15);
    
}

.navbar1 {    

    /* font-family: 'Carrois Gothic', sans-serif; */
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'Cinzel', serif; */
    font-family: 'Domine', serif;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Orbitron', sans-serif; */
    /* font-family: 'Unbounded', cursive; */
    /* font-family: 'VT323', monospace; */
    /* font-family: 'Zen Tokyo Zoo', cursive; */
       
    /* font-size: 60; */
    height: 50px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    display: flex;
    justify-content: center;

    box-shadow: 0px 2px saddlebrown;
}

.navbar1 ul{    
    list-style: none;
    margin-top: 0px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 100%;
 }

.navbar1 li{

    /* background-color: skyblue; */
    background-color: sandybrown;
    float:left;
    /* padding-left: 4pc;
    padding-right: 4pc; */
    width: calc(100%/4); 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar1 a {
    color: black;
    /* font-size: large; */
    font-size: 1.1em;
  }

.navbar1 li:hover{
    /* background-color: darkblue; */
    /* color: aliceblue; */
    background-color:sienna;
    color: aliceblue;
}

#fixed_icon{
    /* not happy with positioning of this */
    position: fixed;
    top: 50px;
    left: 20px;
    z-index: 999;
    /* border: 1px solid green; */
}
#fixed_icon p {
    position: absolute;
    padding-left: 8px;
    padding-bottom: 0px;
}

.spinner{
    position: absolute;
    margin-top: 3px;
    height: 70px;
    width: 70px;
    background-color: red;
}

#spin_left{
    animation-name: spinAnimationRight;
    /* animation-name: spinAnimationLeft; */
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: -1.5s;

}
#spin_right{

    animation-name: spinAnimationRight;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}


.header{
    font-family: 'Unbounded', cursive;
    font-family: 'Caveat', cursive;

    font-size: 1.5em;
    text-align: center;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.header h1{
    padding: 0px;
    margin: 0px;

    margin-top: 5vh;
    width: 30%;
}
.header h2 {
    padding: 0px;
    margin: 0px;
    width: 30%;
    /* border-bottom: 1px solid lightgray; */
}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    margin-top: 100px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: gray;
}
.footer p{
    font-size: 0.9em;
}

/* MISC */

ul{
    list-style: none;
}


p {
    font-size: 24px;
    color:black;    

     font-family: 'Carrois Gothic', sans-serif;
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'Cinzel', serif; */
    /* font-family: 'Domine', serif; */
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Orbitron', sans-serif; */
    /* font-family: 'Unbounded', cursive; */
    /* font-family: 'VT323', monospace; */
    /* font-family: 'Zen Tokyo Zoo', cursive; */
}


a {
    color: black;
}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

h3{
    font-size: 1.2em;
}



/* home page */

.home_divider{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
.home_left{
    width: 55%;    
}
.home_right{
    width: 40%;
    padding-left: 00px;
}

.about_me{
    width: 100%;  
    padding-left: 20px;

    padding-top: 1px;
    padding-bottom: 15px;
    border-bottom: 1px lightgray solid;
    margin-bottom: 15px;
    margin-left: 30px;
    
    
}
 .about_me p{
    padding: 0px;
    margin: 0;
 }

 .about_me:hover{
    background-color: rgb(255, 243, 238);
 }

.animal {
    color: rgb(184, 139, 26);
}


.ratings{
    width: 350px;
    margin-left: 70px;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.ratings_container{
    
    /* border: black 1px solid ; */

    display: flex;
    flex-direction: row;
    justify-content: center;

    /* display: flex;    
    justify-content: flex-end; 
    flex-wrap: wrap; */


    
}
.ratings_left{
    width: 30%;
    padding-right: 10px;
    margin: 10px;

    font-size: 1.5em;
    border-right: solid lightgray 1px;

}
.ratings_right{
    width: 40%;
    padding-top: 25px;
    padding-bottom: 0px;
    margin: 10px, 0px, 5px 0px;
    height: 50px;

    /* border: solid black 1px; */

}
.thumbs_up{
    padding-top: 10px;
    height: 40px;
    width: 40px;
}



/* about page */


.about_section{
    width: 90%;
    padding-top: 30px;
    padding-bottom: 0px;    
}

.slideshow_container{
    width: 100%;
    position: relative;


    display: flex;
    justify-content: flex-start;

    padding: 0px;
    margin: 0px;

    border-top: solid lightgray 1px;
    border-bottom: solid lightgray 1px;

    overflow: hidden;

}
.slideshow_img{
    width: 20%;
    height: auto;
    
}

/* https://www.w3schools.com/howto/howto_js_slideshow.asp */


.albums_arrow_left{
    position: absolute;

    top: 40%;
    width: auto;
    padding: 10px;
    color: white;
    font-size: 1em;
    cursor: pointer;

}
.albums_arrow_right {
    position: absolute;
    right: 0;

    top: 40%;
    width: auto;
    padding: 10px;
    color: white;
    font-size: 1em;
    cursor: pointer;

  }
  .albums_arrow_left:hover, .albums_arrow_right:hover {
    background-color: rgba(0,0,0,0.8);
  }




/* Projects page */

.projects_container{

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}
.project_panel {
    height: auto;
    width: 90%;

    /* border: red 1px solid; */

    display: flex;
    flex-direction: column;

    margin-top: 50px;
    margin-bottom: 70px;

}


.project_info_container{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    
}

.project_info_container h2{
    border-top: 1px solid lightgrey;
    padding-top: 20px;
    margin: 24px 0px 15px 0px;
    height: 100%;
    width: 100%;
    word-wrap: normal;
    text-align: center;

    /* border: solid black 1px; */
}
.project_info_container p{
    width: 100%;
    /* overflow: hidden; */
    /* border: solid black 1px; */
    padding: 5px 0px 15px 0px;
    margin: 0px 0px 0px 0px;

}

.project_carousel{
    width: 100%;
    height: 75%;
    max-height: 400px;

    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;

    display: flex;
    justify-content: flex-start;
}

.project_images_container{
    width: 90%;
    height: auto;

    /* display: flex;
    justify-content: flex-start; */
    overflow: hidden;

}

.images_arrow_left{
    width: 5%;
    height: auto;

    background-color: lightgrey;
}
.images_arrow_right{
    width: 5%;
    height: auto;

    background-color: lightgray;
}

.project_image{
    width: 100%;
    height: 100%;
}

.dev_info p{
    text-align: center;
    font-size: 1em;
    /* border-bottom: 1px solid grey; */
}

/* Contact page */

.info_div_container{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 5vh;

}

.contact_info_div {
    width: 60%;
    height: 15vh;

    padding: 1vh, 1vw, 2vh, 0vw;
    margin: 20px, 0px, 10vh, 0px;

    margin-top: 3vh;

    border: sandybrown 1px solid ;
    border-radius: 5px;
    box-shadow: 4px 7px sandybrown;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* justify-content:flex-start; */

    /* border: green 1px solid ; */
}

.contact_info_left {
    width: 15%;
    height: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
    
    /* border: red 1px solid ; */
}
.contact_info_right {
    max-width: 630px;
    width: 75%;
    height: 100%;

    padding: 0px 0px 0px 0px;
    

    /* border: blue 1px solid ; */
}

.logo_image {    
    height: 100%;   
    width: auto; 
}

.advert{
    margin-top: 7vh;
    text-align: center;

    width: 100%;
    height: 20vh;

    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;

    /*
        border: 5px solid rgb(255, 243, 238);
        background-color: rgb(255, 243, 238);
    */
    padding: 1.5vh;
    /* border: 2px solid lightgray; */
    /* border-radius: 20px;  */

}

.advert:hover{
    text-decoration:underline;
}

.ad_section{
    width: 50%;
    height: 100%;
    /* border: 2px solid red; */
}

#advert_left {
    
    display: flex;       
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

#advert_left p{
    text-decoration: underline;
}
#word-dog-image{
    height: 100%;
    width: auto;
}



/* ANIMATIONS */
@keyframes spinAnimationLeft {
    0%   {transform: rotate(0deg);}
    25%  {transform: rotate(-90deg);}
    50%  {transform: rotate(-180deg);}
    75%  {transform: rotate(-270deg);}
    100% {transform: rotate(-360deg);}
}
@keyframes spinAnimationRight {
    0%   {transform: rotate(0deg);}
    25%  {transform: rotate(90deg);}
    50%  {transform: rotate(180deg);}
    75%  {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}