
/* importing some fonts */
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Caveat&family=Cinzel&family=Domine&family=Open+Sans:wght@300&family=Unbounded:wght@300&family=Zen+Tokyo+Zoo&display=swap');

* {    
    /* font-family: Arial; */
    /* font-family: 'Carrois Gothic', sans-serif; */
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'Cinzel', serif; */
    /* font-family: 'Domine', serif; */
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Unbounded', cursive; */
    /* font-family: 'Zen Tokyo Zoo', cursive; */

    /* border-style:solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: black;   */
}

ul{
    list-style: none;
}


body{
    margin: 0;
    background-color:beige;
    width:100%;


    display: flex; 
    justify-content: center;   
}

.container {

    width: 1000px;

    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;   
    align-items: center; 
}

.navbar1 {    
    font-family: 'Unbounded', cursive;
    
    /* font-size: 60; */
    height: 100px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    display: flex;
    justify-content: center;

    box-shadow: 1px 2px saddlebrown;
}

.navbar1 ul{    
    list-style: none;
    margin-top: 0px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 100%;
 }

.navbar1 li{

    /* background-color: skyblue; */
    background-color: sandybrown;
    float:left;
    /* padding-left: 4pc;
    padding-right: 4pc; */
    width: calc(100%/4); 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar1 a {
    color: black;
    /* font-size: large; */
    font-size: 1.3em;
  }

.navbar1 li:hover{
    /* background-color: darkblue; */
    /* color: aliceblue; */
    background-color:sienna;
    color: aliceblue;
}

.header{
    font-family: 'Unbounded', cursive;
    font-size: 1.1em;
    text-align: center;
    width: 100%;
}

p {
    font-size: 24px;
    color:black;    
}

/* home page */

.home_divider{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
.home_left{
    width: 55%;    
}
.home_right{
    width: 40%;
    padding-left: 00px;
}

.about_me{
    width: 100%;  

    padding-left: 20px;
}

#animal {
    color: goldenrod;
}


.ratings{
    width: 350px;
    margin-left: 0px;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.ratings_container{
    
    /* border: black 1px solid ; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    
}
.ratings_left{
    width: 30%;
    padding-right: 10px;
    margin: 10px;

    font-size: 1.5em;
    border-right: solid black 1px;

}
.ratings_right{
    width: 40%;
    padding-top: 25px;
    padding-bottom: 0px;
    margin: 10px, 0px, 5px 0px;
    height: 50px;

    /* border: solid black 1px; */

}
.thumbs_up{
    padding-top: 10px;
    height: 40px;
    width: 40px;
}


/* about page */

.slideshow_container{
    width: 100%;


    display: flex;
    justify-content: flex-start;

    padding: 0px;
    margin: 0px;

    border-top: solid gray 1px;
    border-bottom: solid gray 1px;

    overflow: hidden;

}
.slideshow_img{
    width: 20%;
    height: auto;
    
}



/* Contact page */

.contact_info_div {
    width: 95%;
    height: 300px;
    margin: 15px 0px 15px 5px;
    padding: 15px;

    border: sandybrown 1px solid ;
    border-radius: 5px;
    box-shadow: 4px 7px sandybrown;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* justify-content:flex-start; */

    /* border: green 1px solid ; */

}
/* .contact_info_section {
    padding: 30px 10px 30px 30px;
    max-width: 800px;
    width: 50%;

     border: green 1px solid ; 
}
*/


.contact_info_left {
    padding: 0px 0px 0px 0px;
    max-width: 800px;
    width: 20%;
    height: 100%;
    
    /* border: red 1px solid ; */
}
.contact_info_right {
    max-width: 630px;
    width: 70%;
    height: 100%;

    padding: 0px 0px 0px 0px;
    

    /* border: blue 1px solid ; */
}

.logo_image {
    height: 150px;
    width: 150px;
    /* border: black 1px solid ; */

}

/* Projects page */


.projects_container{

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}
.project_panel {
    height: 620px;
    width: 90%;

    /* border: red 1px solid; */

    display: flex;
    flex-direction: column;

    margin-top: 50px;
    margin-bottom: 70px;

}


.project_info_container{
    width: 100%;
    height: 25%;

    display: flex;
    justify-content: flex-start;

    border-top: 1px solid lightgrey;
}

.project_info_container h2{
    margin: 24px 0px 0px 0px;
    height: 100%;
    width: 20%;
    word-wrap: normal;
    /* border: solid black 1px; */
}
.project_info_container p{
    width: 80%;
    overflow: hidden;


    /* border: solid black 1px; */
}

.project_carousel{
    width: 100%;
    height: 75%;

    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;

    display: flex;
    justify-content: flex-start;
}

.project_images_container{
    width: 90%;

    /* display: flex;
    justify-content: flex-start; */
    overflow: hidden;

}

.images_arrow_left{
    width: 5%;
    height: 100%;

    background-color: lightgrey;
}
.images_arrow_right{
    width: 5%;
    height: 100%;

    background-color: lightgray;
}

.project_image{
    width: 100%;
    height: 100%;
}

.dev_info p{
    text-align: center;
    font-size: 1em;
    /* border-bottom: 1px solid grey; */
}



/* .navbar2 {    
    background-color: coral;      
    height: 200px;
   
    display: flex;
    /* justify-content: flex-end; */
    /* justify-content: space-between; 
    justify-content: space-around;
    /* justify-content: center; */
    /* align-items: flex-end; 
    align-items: center;

    border-style:solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: black; 
    */


/* Animations  */
/* @keyframes example {
    0% {background-color: red;}
    50% {background-color: yellow;}
    100% {background-color: red;}
}

.animatedDiv{

    width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example2 {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}
.animatedDiv2{

    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: example2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.animatedDiv3{

    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: example2;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

.animatedDiv4{

    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation-name: example2;
    animation-duration: 4s;
    animation-delay: -1s;
    animation-iteration-count: infinite;
}

.animatedDiv5{

    width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 3;
} */