
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Caveat&family=Cinzel&family=Domine&family=Inter&family=Open+Sans:wght@300&family=Orbitron&family=Unbounded:wght@300&family=VT323&family=Zen+Tokyo+Zoo&display=swap');


*{

    font-family: 'Inter', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */

}

body{

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}



#dev-banner{
    position: fixed;
    top: 5vh;
    left: -5vw;
    rotate:calc(-45deg);
    color: white;
    background-color: red;
    width: 25vw;
    height: 3vh;
    text-align: center;
    line-height: 150%;


}



#navbar{
    position: fixed;
    top:0;
    height: 7vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    /* oxfam green */
    background-color: #5ABE80;
}
#navbar a{
    text-decoration: none;
    color: white;
    font-size: x-large;
}
#navbar a:hover{
    color: black;
}

#container{

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 600px;
    

}

#content{

    width: 100%;

    margin: 0px;
    padding: 0px;

   
       
    
}

.section{
    background-color: #f1f1f1;
    /* background-color: #555555; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.collapse{
    cursor: pointer;
    width: 100%;
    text-align: center;
    height: 5vh;
    line-height: 250%;
}




.grid-container{

    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(10vh, auto);

    

    margin-bottom: 5vh;

}

.grid-title{
    background-color: lightcoral;
    grid-column: 1 / 3;
    grid-row: 1;
}
.grid-icon{
    background-color: lightblue;
    grid-column: 3 / 5;
    grid-row: 1;
}
.grid-images{
    background-color: lightseagreen;
    grid-column: 1 / 5;
    grid-row: 2;
    height: 50vh;
}
.grid-text{
    background-color: lightpink;
    grid-column: 1 / 5;
    grid-row: 3;
    padding: 1vw;    
}

img{
    height: 75px;
    width: 75px;
}







.project-iframe{
    border:none;
    height: 100%;
    width: 100%;
}




#footer{

    height: 10vh;
    width: 100vw;

    background-color: lightgray;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-col-centre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row-centre{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* mobile mode */
@media only screen and (max-width: 600px) {
    
    #container{        
        width: 100%;
    }
  }