
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Caveat&family=Cinzel&family=Domine&family=Inter&family=Open+Sans:wght@300&family=Orbitron&family=Unbounded:wght@300&family=VT323&family=Zen+Tokyo+Zoo&display=swap');
*{
    font-family: 'Inter', sans-serif;
}


/* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: 4ba06c;
  }
  
  /* selected link */
  a:active {
    color: 4ba06c;
  }

.flex-col-centre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-row-centre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#dev-banner{
    position: fixed;
    top: 5vh;
    left: -5vw;
    rotate:calc(-45deg);
    color: white;
    background-color: red;
    width: 25vw;
    height: 3vh;
    text-align: center;
    line-height: 150%;
}
#navbar{
    position: fixed;
    top:0;
    height: 7vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    /* oxfam green */
    background-color: #5ABE80;
}
.nav-a{
    text-decoration: none;
    color: white;
    font-size: x-large;
    width: 33%;
    height: 100%;    
    text-align: center;
    line-height: 250%;   
}
#navbar a:hover{
    color: black;
    background-color: #4ba06c;
}
#container{
    margin: 0;
    padding: 0;
    width: 600px;
}
#content{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#contact-container{
    width: 100%;
}

.contact-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;

    border-bottom: 1px solid #4ba06c;
    padding-bottom: 1vh;
    margin-bottom: 1vh;
}

.contact-row a{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;    
}
.contact-a{
    color: black;
}
.contact-a:link{
    text-decoration: none;
}
.contact-a:visited {
    text-decoration: none;
}
.contact-a:hover {
    text-decoration: underline;
    color: #4ba06c;
}
.contact-a:active {
    text-decoration: underline;
}


.section{
    background-color: #f1f1f1;
    /* background-color: #555555; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.explainer{
    margin-top: 10vh;
    margin-bottom: 5vh;

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.explainer h1{
    width: 70%;
    text-align: center;
}
.exp-div{
 width: 15%;
}
.exp-div img{
    background-color: #5ABE80;
    border: 3px solid #5ABE80;
    border-radius: 50%;
}

.collapse{
    cursor: pointer;
    width: 100%;  
    background-color: lightgray;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    text-align: center;
    height: 5vh;
    line-height: 250%;

    padding: 1.5vh;
    margin-bottom: 1.5vh;
}

.collapse-title{
    width: 10%;
}
.collapse-desc{
    width: 85%;
}
.collapse-indicator{
    width: 5%;
    padding-right: 2vh;
    font-size: 2em;
}

.flex-container{

    width: 100%;
    /* border: 1px solid red; */
    margin-bottom: 5vh;
}
.container-top{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 1vw;
    background-color: #5ABE80;
    border-radius: 1vw;

    border-bottom: 0.3vw solid #4ba06c;
}
/* .container-title{   
    
}
.container-icon{
    
} */
.container-images{
    width: 100%;
}
.container-iframe{
    height: 55vh;
    width: 100%;
    background-color: lightseagreen;
}
.container-text{
    width: 100%;
    padding: 1vw;
    background-color: lightgray;
    border-radius: 1vw;
    border-top: 0.3vw solid grey;
}

.logo-img{
    height: 7vw;
    aspect-ratio: 1 / 1;
}

.proj-img{    
    width: 98%;   
    height: 98%;
}

.project-iframe{
    height: 98%;
    width: 98%;    
}

.hide{
    display: none;
}

.yt-vid-hori{
    width: 100%;
    aspect-ratio: 16 / 9;
}
.yt-vid-vert{
    width: 65%;
    aspect-ratio: 9 / 16;
}

#footer{
    height: 10vh;
    width: 100vw;

    background-color: lightgray;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-col-centre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-row-centre{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* mobile mode */
@media only screen and (max-width: 600px) {
    
    #container{        
        width: 100%;
    }

    #dev-banner{
        display: none;
    }

    .nav-a{
        font-size: medium;
    }
    
    .collapse{
        padding-left: 75px;
        padding-right: 75px;
    }

    .collapse h3{
        display: none;
    }

    .container-title{
        margin-left: 5vw;
    }
    .container-text{
        margin-left: 5vw;
    }

    .yt-vid-hori{
        width: 100%;
        aspect-ratio: 16 / 9;
    }
    .yt-vid-vert{
        width: 100%;
        aspect-ratio: 2 / 1;
    }
  }